<%= form_with(model: todo, local: true) do |form| %>
  <tr>
    <td><%= form.text_field :contents, :class => "input", :required => true %></td>
    <td></td>
    <td><%= form.submit 'Save', :class => "button is-primary" %></td>
  </tr>
<% end %>
